<html>
	<head>
		<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
		<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/js/v1/php-leafleter-js" type="application/javascript"></script>
		<style>
			#mapid { height: 100%; }
		</style>
	</head>
	<body>
		<div id="mapid"></div>
		<script >
		$('#mapid').leafleter({
			'token': '{{token}}',			
			'url': '/api/',
			'callback': function(marker, element) {
				marker.bindTooltip(element['id']+'', { permanent: true, direction: 'right', offset: [20,-13]}).openTooltip();
				marker.bindPopup('<b>'+element['firstname']+' '+element['lastname']+'</b><br/>'+element['zip']+' '+element['city']+', '+element['street']+' '+element['number']);
			}
		});
		</script>
	</body>
</html>